    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://img.freepik.com/free-vector/colorful-gradient-background-modern-design_361591-4679.jpg?w=1380&t=st=1726213229~exp=1726213829~hmac=2fac2affa48dcde222bc39ffa35d4bdf824fde4abd656f8ab77fc1bd89caf821') no-repeat center center/cover;
        filter: brightness(90%); 
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
        background: rgba(255, 255, 255, 0.9); 
        padding: 3rem 4rem;
        border-radius: 12px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        max-width: 800px;
        width: 100%;
        position: relative;
    }

    h1 {
        font-size: 7.5vh;
        margin-top: 2.7rem;
        margin-bottom: 0.5rem;
        color: #333;
        font-weight: 700;
        line-height: 1.2;
    }

    a {
        margin-bottom: 2.5rem;
        font-size: 3rem;
        color: #333;
        font-weight: 600;
        line-height: 3;
    }

    .options {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .option {
        width: 45%;
    }

    .button {
        display: inline-block;
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
        color: #fff;
        background: linear-gradient(135deg, #d06c9c, #b97d8d);
        text-decoration: none;
        border-radius: 8px;
        transition: background 0.3s, transform 0.2s;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        width: 100%;
        text-align: center;
    }

    .button:hover {
        background: linear-gradient(135deg, #b97d8d, #d06c9c); 
        transform: translateY(-4px);
    }

    .button:active {
        transform: translateY(0);
    }